body,
#wrapper {
  background-color: #cbf7c4;
}

#graph {
  position: relative;
  background-color: #fff;
  float: right;
  margin: 0;
}

#y_axis .lower_limit,
#y_axis .upper_limit,
#x_axis .lower_limit,
#x_axis .upper_limit { position: absolute; }

#y_axis .lower_limit { bottom: 0; }
#y_axis .upper_limit { top: 0; }
#x_axis .lower_limit { left:   0px; bottom: -20px; }
#x_axis .upper_limit { right:  0px; bottom: -20px;}

.item {
  position: absolute;
}

#control_pad {
  float: left;
  width: 280px;
}