// Colors

$beige: #e6e4da;
$dino-green: #50853a;
$charcoal: #333333;
$bignum: 1000px;

#control_pad {
  position: absolute;
  top: 0;
  left: 0;
  .control_pad_open & {
    width: 210px;
    padding: 15px 20px;
  }
  .control_pad_closed & {
    width: 0;
    padding-left: 0;
    padding-right: 0;
  }

  h1 a {
    display: block;
    height: 40px;
    padding-left: 45px;
    border: 1px solid black;
    font-size: 34px;
    line-height: 40px;
    color: $dino-green;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    @include text-shadow(0 0 1px black);
    @include border-radius(5px);
    @include background(
      url("../images/philosoraptor.png") no-repeat left bottom,
      linear-gradient(top center, white, $beige)
    );
  }
}

#graph {
  position: absolute;
  top: 0;
  overflow: hidden;
  .control_pad_open & {
    right: 0;
    border-left: 1px solid $beige;
  }

  #x_axis li,
  #y_axis li {
    font-weight: bold;
    color: $charcoal;
  }

  .lower,
  .upper {
    font-size: 25px;
  }
  .label {
    font-size: 30px;
    .axis_edit {
      display: inline-block;
      margin-left: 10px;
      z-index: 30;
    }
  }

  #x_axis,
  #y_axis {
    position: absolute;
    li {
      position: absolute;
    }
  }

  #y_axis {
    top: 0;
    left: 0;
    width: 75px;
    margin-top: 35px;
    li {
      width: 0;
      margin-left: -($bignum/2);
      left: 50px;
      &.lower { bottom: 0; }
      &.upper { top: 0;    }
      &.label { top: 50%; left: 40px; margin-top: -.5em; z-index: 30; }
      &.label span { z-index: 30; }
      span {
        display: inline-block;
        text-align: center;
        width: $bignum;
        @include rotate( -90deg );
      }
    }      
  }
  
  #x_axis {
    bottom: 0;
    right: 0;
    height: 75px;
    margin-right: 35px;
    li {
      top: 10px;
      &.lower { left: 0; }
      &.upper { right: 0; }
      &.label { top: 20px; text-align: center; margin: 0 auto; display:block; position: relative}
    }
  }

  #graph_field {
    position: absolute;
    top: 35px;
    right: 35px;
    border-bottom: 1px solid $charcoal;
    border-left: 1px solid $charcoal;
  }

  .item {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #feffc4;
    border: 1px solid #c4c4c4;
    @include box-shadow(0 20px 50px black);
    .thumbnail_container {
      margin: 10px;
      float: left;
      width: 70px;
      line-height: 1px;
      .thumbnail {
        border: 1px solid black;
      }
    }
    .bd {
      font-family: verdana, arial, helvetica, sans-serif;
      color: #555555;
      margin: 10px 10px 10px 95px;
      font-size: 10px;
      line-height: 12px;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      a.name {
        font-size: 16px;
        margin-right: 5px;
        color: #0000ff;
        &:hover {
          text-decoration: none;
        }
        &:visited {
          color: #551a8b;
        }
      }
      .domain,
      .domain a {
        color: #555555;
      }
      .comments {
        font-weight: bold;
      }
    }
  }
}
