/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/_style.scss */
.hidden {
  display: none;
}

/* line 10, ../sass/_style.scss */
html, body, #graph {
  height: 100%;
}

/* line 14, ../sass/_style.scss */
#control_pad {
  font-family: helvetica, arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 19, ../sass/_style.scss */
.control_pad_open #control_pad {
  width: 210px;
  padding: 15px 20px;
}
/* line 23, ../sass/_style.scss */
.control_pad_closed #control_pad {
  width: 0;
  padding-left: 0;
  padding-right: 0;
}
/* line 29, ../sass/_style.scss */
#control_pad h1 a {
  display: block;
  height: 40px;
  padding-left: 45px;
  border: 1px solid black;
  font-size: 34px;
  line-height: 40px;
  color: #50853a;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 0 0 1px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: url("../images/philosoraptor.png") no-repeat left bottom, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e4da));
  background: url("../images/philosoraptor.png") no-repeat left bottom, -webkit-linear-gradient(top center, #ffffff, #e6e4da);
  background: url("../images/philosoraptor.png") no-repeat left bottom, -moz-linear-gradient(top center, #ffffff, #e6e4da);
  background: url("../images/philosoraptor.png") no-repeat left bottom, -o-linear-gradient(top center, #ffffff, #e6e4da);
  background: url("../images/philosoraptor.png") no-repeat left bottom, -ms-linear-gradient(top center, #ffffff, #e6e4da);
  background: url("../images/philosoraptor.png") no-repeat left bottom, linear-gradient(top center, #ffffff, #e6e4da);
}
/* line 50, ../sass/_style.scss */
#control_pad #controller_container dt {
  margin-top: 20px;
  font-size: 14px;
  margin-bottom: 5px;
}
/* line 54, ../sass/_style.scss */
#control_pad #controller_container dt .range {
  font-size: 12px;
  color: #4C3000;
  font-weight: bold;
  margin-left: 8px;
}
/* line 61, ../sass/_style.scss */
#control_pad #controller_container dd {
  margin-bottom: 15px;
}
/* line 64, ../sass/_style.scss */
#control_pad #controller_container #reddit_url_label {
  padding-left: 25px;
  background: url("../images/reddit_logo.png") no-repeat left center;
}
/* line 68, ../sass/_style.scss */
#control_pad #controller_container .slider {
  font-size: 12px;
}
/* line 70, ../sass/_style.scss */
#control_pad #controller_container .slider a {
  outline: none;
}

/* line 76, ../sass/_style.scss */
#graph {
  position: absolute;
  top: 0;
  overflow: hidden;
}
/* line 80, ../sass/_style.scss */
.control_pad_open #graph {
  right: 0;
  border-left: 1px solid #e6e4da;
}
/* line 86, ../sass/_style.scss */
#graph .lower,
#graph .upper {
  font-size: 25px;
}
/* line 89, ../sass/_style.scss */
#graph .label {
  font-size: 30px;
}
/* line 91, ../sass/_style.scss */
#graph .label .axis_edit {
  display: inline-block;
  visibility: hidden;
  margin-left: 10px;
  z-index: 30;
}
/* line 100, ../sass/_style.scss */
#graph #x_axis,
#graph #y_axis {
  position: absolute;
}
/* line 102, ../sass/_style.scss */
#graph #x_axis li,
#graph #y_axis li {
  position: absolute;
  font-weight: bold;
  color: #333333;
}
/* line 107, ../sass/_style.scss */
#graph #x_axis select,
#graph #y_axis select {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
/* line 115, ../sass/_style.scss */
#graph #x_axis {
  bottom: 0;
  right: 0;
  height: 75px;
  margin-right: 35px;
}
/* line 120, ../sass/_style.scss */
#graph #x_axis li {
  top: 10px;
}
/* line 122, ../sass/_style.scss */
#graph #x_axis li.lower {
  left: 0;
}
/* line 123, ../sass/_style.scss */
#graph #x_axis li.upper {
  right: 0;
}
/* line 124, ../sass/_style.scss */
#graph #x_axis li.label {
  top: 20px;
  text-align: center;
  margin: 0 auto;
  display: block;
  position: relative;
}
/* line 128, ../sass/_style.scss */
#graph #y_axis {
  top: 0;
  left: 0;
  width: 75px;
  margin-top: 35px;
}
/* line 133, ../sass/_style.scss */
#graph #y_axis li {
  width: 0;
  margin-left: -500px;
  left: 50px;
}
/* line 138, ../sass/_style.scss */
#graph #y_axis li.lower, #graph #y_axis li.upper {
  z-index: -1;
}
/* line 140, ../sass/_style.scss */
#graph #y_axis li.lower span, #graph #y_axis li.upper span {
  z-index: -1;
}
/* line 144, ../sass/_style.scss */
#graph #y_axis li.lower {
  bottom: 0;
}
/* line 145, ../sass/_style.scss */
#graph #y_axis li.upper {
  top: 0;
}
/* line 146, ../sass/_style.scss */
#graph #y_axis li.label {
  top: 50%;
  left: 40px;
  margin-top: -0.5em;
}
/* line 147, ../sass/_style.scss */
#graph #y_axis li.label span {
  z-index: 30;
}
/* line 148, ../sass/_style.scss */
#graph #y_axis li.label select {
  z-index: 30;
}
/* line 149, ../sass/_style.scss */
#graph #y_axis li span {
  display: inline-block;
  text-align: center;
  width: 1000px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 158, ../sass/_style.scss */
#graph #graph_field {
  position: absolute;
  top: 35px;
  right: 35px;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}

/* line 167, ../sass/_style.scss */
.item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #c4c4c4;
  z-index: 2;
}
/* line 175, ../sass/_style.scss */
.item .thumbnail_container {
  margin: 0;
  float: left;
  background-color: rgba(255, 255, 255, 0.7);
  height: 20px;
  width: 20px;
}
/* line 181, ../sass/_style.scss */
.item .thumbnail_container .thumbnail {
  display: block;
  height: 18px;
  width: 18px;
  background-size: 18px auto;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid transparent;
}
/* line 189, ../sass/_style.scss */
.item .thumbnail_container .thumbnail:hover {
  border: 1px solid black;
}
/* line 194, ../sass/_style.scss */
.item .bd {
  display: none;
}
/* line 197, ../sass/_style.scss */
.item.expanded {
  width: auto;
  max-width: 450px;
  height: auto;
  -webkit-box-shadow: 0 20px 50px black;
  -moz-box-shadow: 0 20px 50px black;
  box-shadow: 0 20px 50px black;
  background-color: white;
  z-index: 99;
}
/* line 204, ../sass/_style.scss */
.item.expanded .thumbnail_container {
  width: 70px;
  height: 70px;
  margin: 10px;
}
/* line 208, ../sass/_style.scss */
.item.expanded .thumbnail_container .thumbnail {
  border: 1px solid #c4c4c4;
  height: 70px;
  width: 70px;
  background-size: 70px;
}
/* line 213, ../sass/_style.scss */
.item.expanded .thumbnail_container .thumbnail:hover {
  border: 1px solid black;
}
/* line 218, ../sass/_style.scss */
.item.expanded .bd {
  margin: 10px 10px 10px 95px;
  display: block;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #555555;
  font-size: 10px;
  line-height: 12px;
}
/* line 225, ../sass/_style.scss */
.item.expanded .bd a {
  text-decoration: none;
}
/* line 227, ../sass/_style.scss */
.item.expanded .bd a:hover {
  text-decoration: underline;
}
/* line 231, ../sass/_style.scss */
.item.expanded .bd a.close {
  color: #555555;
  position: absolute;
  top: 2px;
  right: 2px;
}
/* line 237, ../sass/_style.scss */
.item.expanded .bd a.name {
  font-size: 16px;
  margin-right: 5px;
  color: #0000ff;
}
/* line 241, ../sass/_style.scss */
.item.expanded .bd a.name:hover {
  text-decoration: none;
}
/* line 244, ../sass/_style.scss */
.item.expanded .bd a.name:visited {
  color: #551a8b;
}
/* line 249, ../sass/_style.scss */
.item.expanded .bd .domain,
.item.expanded .bd .domain a {
  color: #555555;
}
/* line 252, ../sass/_style.scss */
.item.expanded .bd .meta a {
  color: #0000ff;
}
/* line 254, ../sass/_style.scss */
.item.expanded .bd .meta a:visited {
  color: #0000ff;
}
/* line 258, ../sass/_style.scss */
.item.expanded .bd .comments a {
  font-weight: bold;
  color: #555555;
}
/* line 265, ../sass/_style.scss */
.item.right .thumbnail_container {
  float: right;
}
/* line 268, ../sass/_style.scss */
.item.right .bd {
  margin: 10px 95px 10px 10px;
}

/* line 274, ../sass/_style.scss */
#tooltip {
  display: none;
}
